@{
    var id=Request["id"];
    var SQLSELECT = "SELECT * FROM FAVORITES WHERE ID=@0";
    var db = Database.Open("Movie List");
    var Movie = db.QuerySingle(SQLSELECT, id);
    var MovieName = Movie.Name;
    var MovieCategory = Movie.Category;
    var MovieYear = Movie.YearPublished;
    if(IsPost){
        MovieName = Request["formName"];
        MovieCategory = Request["formCategory"];
        MovieYear = Request["formYear"];
        MovieYear = Request["formYear"];
        var SQLUPDATE = "UPDATE Favorites set name=@0, category=@1, yearpublished=@2 where id=@3";
        db.Execute(SQLUPDATE, MovieName, MovieCategory, MovieYear, id);
        Response.Redirect("dataMovies.cshtml");
    }
}



<h1>Edit a movie</h1>
    <form action="" method ="post">
        <p>Name:<br/><input type="text" name="formName" value="@MovieName"/></p>
        <p>Category<br/><input type="text" name="formCategory" value="@MovieCategory"/></p>
        <p>Year<br/><input type="text" name="formYear" value ="@MovieYear"/></p>
        <p><input type="submit" value="Edit Movie"/></p>
    
    </form>
